@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poiret+One&display=swap');

:root {
  --text: #0d1609;
  --background: #f6faf4;
  --primary: #75b450;
  --secondary: #97d2a8;
  --accent: #82c9a7;
}

* {
  font-family: 'Poiret One';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  color: var(--text);
  display: grid;
  place-items: center;
}

.button-primary {
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat";
  cursor: pointer;
}

button {
  font-size: 1rem;
}

a {
  color: #000;
  text-decoration: none;
}

#manager {
  display: grid;
  place-items: center;
}

#navigation {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (orientation: portrait) {
  #navigation {
    width: 100%;
    justify-content: space-evenly;
    top: 95%;
  }

  .button-primary {
    font-size: 2.5rem;
  }
}
