.home {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.title {
    font-size: 20rem;
}

.like-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.like-section__counter {
    font-size: 8rem;
}

@media screen and (orientation: portrait) {
    body {
        display: grid;
        place-items: center;
        justify-content: center;
        text-align: center;
    }

    .home {
        align-items: flex-end;
        width: 100vw;
        display: grid;
        place-items: center;
        justify-content: center;
        text-align: center;
    }

    .like-section {
        align-items: flex-end;
    }

    .title {
        font-size: calc(20rem + 1.5vw);
    }

    #navigation {
        position: relative;
        top: unset
    }
}